.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  &__title {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
  }
  &__icons {
    display: flex;
    gap: 10px;
    align-items: center;
    &-item {
      cursor: pointer;
    }
  }
}

