.welcome {
  font-family: "Mulish", sans-serif;
  &__img {
    margin-top: 103px;
  }
  &__title {
    font-family: "Mulish", sans-serif;
    color: var(--Neutral-Active, #0F1828);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 42px;
  }
  &__terms {
    text-decoration: none;
    color: inherit;
    margin-top: 126px;
    &:hover {
      color: inherit;
    }
  }
  &__start {
    width: 327px;
    padding: 12px 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: var(--Brand-Color-Default, #002DE3);
    color: var(--Neutral-Off-white, #F7F7FC);
    margin-top: 18px;
  }
}