.contacts {
  &__search {
    position: relative;
    display: inline-block;
    &-icon {
      position: absolute;
    }
    &-input {
      &::placeholder {
        font-family: "Mulish", sans-serif;
        color: #ADB5BD;
      }
      &:focus {
        border: none;
        outline: none;
      }
      background: #F7F7FC url("./icons/search.svg") no-repeat 8px / 16px 16px;
      padding-left: 40px;

      border-radius: 4px;
      width: 327px;
      height: 36px;
      border: none;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }
  &__list {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    &-name {
      font-family: "Mulish", sans-serif;
      color: var(--Neutral-Active, #0F1828);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    &-status {
      font-family: "Mulish", sans-serif;
      color: var(--Neutral-Disabled, #ADB5BD);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
  &__item {
    padding-top: 16px;
    display: flex;
    &-content {
      display: flex;
      flex-direction: column;
      padding-left: 12px;
    }
  }
}