
.message {
  font-family: "Mulish", sans-serif;
  color: var(--Neutral-White, #FFF);
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  gap: 4px;
  border-radius: 16px 16px 0 16px;
  background: var(--Brand-Color-Default, #002DE3);
  align-items: flex-end;
  align-content: flex-end;
  max-width: 70%;
  word-wrap: break-word;
  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  &__info {
    display: flex;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    &-date {
      &:after {
        content: "·";
        display: inline-block;
        margin: 0 4px;
        font-size: 1em;
      }
    }
  }
}